<h2>Użytkownicy którzy dołączyli:</h2>

<table style="width: 100%">
  <thead>
    <tr>
      <th>Użytkownik</th>
      <th># Zakładki</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, profile_path(user) %></td>
        <td><%= user.bookmarks.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
