<% if current_user %>
  <h2>Ostatnie zakładki</h2>
  <table style="width: 100%">
    <thead>
      <tr>
        <th>Url</th>
        <th>User</th>
      </tr>
    </thead>

    <tbody>
      <% @bookmarks.each do |bookmark| %>
        <tr>
          <td><%= link_to bookmark.title, bookmark.url %></td>
          <td><%= link_to bookmark.user.username, profile_path(bookmark.user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @bookmarks %>

<% else %>
  <div class="panel">
    <h1>Witamy w aplikacji zakładki!</h1>
    <p>Możesz dodawać zakładki oraz udostępniac je znajomym.</p>
    <%= link_to "Dołącz do nas", new_user_registration_path, :class => "button button-large" %>
  </div>

  <hr>

  <div class="row">
    <div class="large-8 columns">
      <h3>Rafał H</h3>
      <p>
      Aplikacja bookmarks możesz dodawać swoje ulubione strony do zakładek
      
      </p>
    </div>
    <div class="large-4 columns">
      <h3>O tej aplikacji</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper aliquam diam, a rhoncus augue ultrices eu. In dictum tortor ex, et laoreet ipsum pharetra ut. Phasellus velit turpis, commodo eget ante a, iaculis tempus neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;  </p>
    </div>
  </div>
<% end %>
